.menu {
      margin-bottom: 30px
}

.menu a{
      color: green;
}


.item {
      border: 1px solid blue;
      border-radius: 5px;
      margin-bottom: 50px;
      width: 430px;
      padding: 20px; 
}

.urgent {
      background-color:yellow;
}

.description, .attributes {
      margin-bottom: 9px;
}

.title {
       margin-bottom: 17px;
}

.title a {
 font-size: 25px;
}

.item img{
      width:100px;
      height:60px;
}

.text_for{
      font-weight: bold;
}

.price {
      border-radius: 5px;
      background-color: pink;
      color: green;
      font-size: 20px;
      padding: 20px;
}

.city {
      font-weight: bold;
}

.attributes {
      font-size: 15px;
}

.description {
      font-size: 20px
}